<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/styles.css" />
    <title>{{title}}</title>
  </head>
  <body>
    <nav id="header">
      <a id="logo" href="/"></a>
      <a href="/writings">/writings</a>
      <a href="/things">/things</a>
      <a href="/now">/now</a>
    </nav>
    <article class="main {{classes}}">
      <h1>{{title}}</h1>
      {{{contents}}}
    </article>
    <footer>
      Find me on: <a href="https://twitter.com/punksmurf"><img src="/images/ic_tw.png" />Twitter</a> <a href="https://github.com/Punksmurf"><img src="/images/ic_gh.png" />Github</a> <a href="https://keybase.io/punksmurf"><img src="/images/ic_kb.png" />Keybase</a>
    </footer>
  </body>
</html>
