* {
  padding: 0;
  margin: 0;
}

.clearfix::after {
   content: " ";
   display: block;
   height: 0;
   clear: both;
}

body {
  font-family: helvetica, arial, sans-serif;
  font-size: 12pt;
}

a {
  text-decoration: none;
  color: #aaa;

  &:hover, &:active {
    text-decoration: underline;
  }

  &:visited {
    color: #888;
  }
}

nav#header {
  min-height: 150px;
  border-bottom: 1px solid #aaa;

  a {
    display: inline-block;
    color: black;
    line-height: 150px;
    vertical-align: top;
    margin-right: 25px;
    font-size: 50px;
    font-weight: normal;
  }

  #logo {
    width: 100px;
    height: 100px;
    margin: 25px;
    background-image: url("../images/logo.png");
    background-size: cover;
  }
}

article.main {
  position: relative;
  margin: 25px 25px 25px 150px;
  max-width: 850px;


  &.paper, &.long-form {
    p, ul {
      font-family: "bookman old style", "georgia", "serif";
      color: #333;
    }
  }


  &:after { // clearfix
    content: "";
    display: block;
    height: 50px; // footer height
    clear: both;
  }

  & > * {
    margin-top: 15px;
  }


  h1 {
    margin: 15px 0 15px 0;
    font-size: 50px;
  }

  h2 {
    border-top: 1px solid #ddd;
    padding-top:7px;
    margin-top:30px;
  }

  h3, h4 {
    padding-top: 7px;
  }

  h5, h6 {
    padding-top: 4px;
  }


  ul li {
    margin-top: 7px;
    margin-left: 25px;
  }

  a {
    /* Order matters! */
    &[name^="footnote-"] {
      font-family: helvetica, arial, sans-serif;
    }
    &[name^="footnote-referer-"] {
      margin-left: 2px;
    }
  }

  code {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: 2px;
  }
  pre {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: 7px;
    overflow-x: scroll;
    code { /* code tag within <pre> */
      border: none;
    }
  }
  blockquote {
    margin-top: 3px;
    margin-bottom: 3px;
    padding-left: 7px;
    border-left: 3px solid silver;
  }

  .images {

    &::after { //clearfix
       content: " ";
       display: block;
       height: 0;
       clear: both;
    }

    img {
      display: block;
      float: left;
    }

    /* 1 image full width */
    img:first-child:nth-last-child(1) {
        width: 100%;
    }

    /* 2 images 2x1 */
    img:first-child:nth-last-child(2),
    img:first-child:nth-last-child(2) ~ img {
        width: 50%;
    }

    /* 3 images 3x1 */
    img:first-child:nth-last-child(3),
    img:first-child:nth-last-child(3) ~ img {
        width: 33.3333%;
    }

    /* 4 images 2x2 */
    img:first-child:nth-last-child(4),
    img:first-child:nth-last-child(4) ~ img {
        width: 50%;
    }
  }
}

footer {
  width: calc(100% - 150px);
  height: 50px;
  line-height: 50px;
  position: fixed;
  bottom: 0;
  background: white;
  border-top: 1px solid #aaa;
  padding-left: 150px;

  a {
    margin-left: 7px;

    color: black;
    &:hover, &:active, &:visited {
      color: black;
    }

    img {
      vertical-align: middle;
      margin-right: 4px;
      margin-bottom: 6px;
    }
  }

  #unicorn {
    position: absolute;
    right: -48px;
    bottom: -467px;
    width: 178px;
    height: 530px;
    background: url("../images/unicorn.png");
    transition: right 0.8s, bottom 0.8s;
    transition-timing-function: ease-in-out;
    &:hover {
      right: 10px;
      bottom: 0;
    }
  }

}
